<table id='<%=h line.id %>' class='line_table' width='100%'>
    <tr class='line_row'>
        <td class='line_prefix'></td>
        <td class='line_content'>
          <%= inline_content(line) %>
        </td>
        <%= suffix_inline_menu(line) %>
     </tr>
</table>

