<table id='total_<%=h ingroups.first.invoice_id %>' class='quote_total_table' width='100%'>
    <tr class='line_row'>
        <td class='invoice_total_text'>Total</td>
        <td class='invoice_total_price'><%= invoice_price(ingroups) %></td>
        <td class='invoice_total_vat_rate'></td> 
        <td class='invoice_total_vat'><%= invoice_vat(ingroups) %></td>
        <td class='invoice_total_total'><%= invoice_total(ingroups) %></td>
        <td class='line_menu_mob'></td><td class='line_menu'></td>
     </tr>
</table>