<table id='total_<%=h qgroups.first.quote_id %>' class='quote_total_table' width='100%'>
    <tr class='line_row'>
        <td class='quote_total_text'>Total</td>
        <td class='quote_total_price'><%= quote_price(qgroups) %></td>
        <td class='quote_total_vat_rate'></td> 
        <td class='quote_total_vat'><%= quote_vat(qgroups) %></td>
        <td class='quote_total_total'><%= quote_total(qgroups) %></td>
        <td class='line_menu_mob'></td><td class='line_menu'></td>
     </tr>
</table>