<!-- desktop menu --> 
<nav class="user_menu"><%= current_user.name %></nav>
<nav>
    <ul class='right_menu'>
        <li><%= link_to "Personal Expenses", personal_path %> </li>
 
    </ul>        
</nav>


<!-- mob menu -->
<nav class="user_menu_mob"><%= current_user.first_name %></nav>                            
<nav>
    <ul class='right_menu_mob'>
        <li><%= link_to "Personal Expenses", personal_path %> </li>
                                                 
    </ul>        
</nav>

