<table class='line_data_table'>
    <tr class='line_data'>
        <td class='line_sub_text'>Subtotal</td>
        <td class='line_subtotal_spacer'></td>
        <td class='line_vat'><%= group_vat(group) %></td>  
        <td class='line_price'><%= group_price(group) %></td>          
    </tr>
</table>