<table>
    <tr>
        <td class="item_prefix"><%= item.ref %></td>
        <td class="item_notes"><span id='<%= line.id %>' class='quote_item_text'><%= line.text %></span></td>
        <td class="item_spacer"></td>       
        <td class="mob_menu"></td>
        <td class="lrg_menu"></td>  
    </tr>
    <tr>
        <td class="mob_menu"></td>
    </tr>
</table>