<table class='line_data_table'>
    <tr class='line_data'>
        <td class='line_prefix'>-</td>
        <td class='line_category'><%= line_category(line) %></td>
        <td class='line_item'><%= line_item(line) %></td>
        <td class='line_spacer'></td>       
    </tr>    
    <tr class='line_note'>
        <td colspan='4' class='line_note'><%= line_note(line) %></td>            
    </tr>
</table>