<table id='<%=h group.id %>' class='line_table' width='100%'>
    <tr class='line_row'>
        <td class='line_prefix'></td>
        <td class='line_content'>
            <table class='line_data_table'>
                <tr class='line_data'>
                    <td class='line_sub_text'>Total</td>
                    <td class='line_subtotal_spacer'></td>
                    <td class='line_vat'><%= quote_vat(group) %></td>  
                    <td class='line_price'><%= quote_price(group) %></td>          
                </tr>
            </table> 
        </td>
     </tr>
</table>