<div class="page_title">
    <h1>Listing Product Categories</h1>
    <div class="page_title_button"><%= link_to "add product category", new_productcategory_path %> </div>
</div>

<div class="table_content_with_title">
    <table>
      <thead>
        <tr>
          <th class="product_category_name">Category Name</th>
          <th width="25px" class="row_button">
          </th>
        </tr>
      </thead>
    </table>
    <div class="table_container">
        <table>
          <tbody>
            <% @productcategories.each do |productcategory| %>
              <tr>
                <td class="product_category_name"><%= productcategory.text %></td>
                <td width="25px" class="row_button">
                <% if !productcategory.products.any? %>
                    <%= row_delete_link(productcategory, 'show') %>
                <% end %>
                </td>                                 
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>