<div class="row title_band">
    <div class="page_title">
        <h1>Product/Service Categories</h1>
    </div>
    <div class="title_help" id="productcategories_index"></div>
    <div><%= link_to "+ category", new_productcategory_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">                
                
            <%= render :partial => "flash_notice" %>

            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="product_category_name">Category Name</th>
                            <th class="row_button no_buttons_1"></th>
                        </tr>
                    </thead>
                </table>

                <table>
                    <tbody>
                        <% if @productcategories %>            
                            <% @productcategories.each do |productcategory| %>
                                <tr>
                                    <td class="product_category_name"><%= productcategory.text.titleize %></td> 
                                    <td class="row_button no_buttons_1">
                                        <% if !productcategory.products.any? %>
                                            <%= row_delete_link(productcategory, 'show') %>
                                        <% end %>                                        
                                    </td>
                                </tr>
                            <% end %>  
                        <% end %>
                    </tbody>
                </table>
   
            </div>
        </div>
    </div>

</div>