<!DOCTYPE html>
<html>
<head>
  <title>Mjbook</title>
  <%= stylesheet_link_tag    "mjbook/application", media: "all" %>
  <%= javascript_include_tag "mjbook/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
