<div class="linetype_menu">
<div class="linetype_menu_header">Select line format:</div>

  <div class="linetype_menu_linetype_id">
    <%= form_for @line, :remote => true do |f| %>
      <%@linetypes.each do |linetype|%>
        <div class="linetype_menu_button">
        	<span><%= f.radio_button 'linetype', linetype[0], {:class=> 'submittable2'} %></span>
        	<span class="linetype_menu_button_label"><%= linetype[1] %></span>
        </div>
      <% end %>
    <% end %> 
  </div>
</div>