//core-ui
@import "core";
@import "buttons";


.column_line_form_label{
//  width: 90px; //width set so that jquery can calculate height of form in column
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold; 
  padding: 2px 0px 2px 0px;
  color: $bold_text_color;
}

.column_line_form{
//  width: 90px; //width set so that jquery can calculate height of form in column
  font-size: 1.2rem;
  text-align: left;
  padding: 2px 0px 2px 0px;
  color: $bold_text_color;
}


.column_line_form input[type=text]{
 width:80px; //width set so that jquery can calculate height of form in column
}


.column_line_form input[type=submit]{

  border: none;
  height:20px;
  padding: 0px 20px 0px 0px;
  color:#66aa00;
  text-decoration:none;    
  @include form_icons(-320px);
  cursor: pointer;
  &:hover{
    text-decoration:underline;
  }
}


