@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

.accounts_name    {@include name}
.accounts_provider{@include name}
.accounts_code    {@include account}
.accounts_ref     {@include ref}

@media screen and (max-width: $lrg_menu) {
}

@media screen and (max-width: $tab_lrg_menu) {
}
  
@media screen and (max-width: $tab_sml_menu) {
  .accounts_name {display: table-cell; width: 80px; text-align: left;}
  .accounts_provider {display: table-cell; width: 150px; text-align: left;}
}

@media screen and (max-width: $mob_menu) {
  .accounts_provider{display: none}
}