/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.customer_company{display: table-cell; width: 140px; vertical-align: top;}
.customer_name{display: table-cell; width: 140px; vertical-align: top;}
.customer_position{display: table-cell; width: 100px; vertical-align: top;}
.customer_address{display: table-cell; width: 160px; vertical-align: top;}
.customer_phone{display: table-cell; width: 90px; vertical-align: top;}
.customer_alt_phone{display: table-cell; width: 90px; vertical-align: top;}
.customer_email{display: table-cell; width: 200px; vertical-align: top;}
.customer_note{display: table-cell; vertical-align: top;}


@media screen and (max-width: $lrg_menu) {
  .customer_position{display: none}
  .customer_note{display: none}
}

@media screen and (max-width: $tab_lrg_menu) {
  .customer_email{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .customer_address{display: none}
  .customer_name{display: none}
}

@media screen and (max-width: $mob_menu) {
  .customer_alt_phone{display: none}
}

