@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.customer_company   {@include name}
.customer_name      {@include name}
.customer_position  {@include role}
.customer_address   {@include address}
.customer_phone     {@include phone}
.customer_alt_phone {@include phone}
.customer_email     {@include email}
.customer_note      {display: table-cell; vertical-align: top;}


@media screen and (max-width: $lrg_menu) {
  .customer_position{display: none}
  .customer_note{display: none}
}

@media screen and (max-width: $tab_lrg_menu) {
  .customer_email{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .customer_address{display: none}
  .customer_name{display: none}
}

@media screen and (max-width: $mob_menu) {
  .customer_alt_phone{display: none}
}

