/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.customer_name{display: table-cell; width: 35px}
.customer_position{display: table-cell; width: 35px}
.customer_address{display: table-cell; width: 35px}
.customer_phone{display: table-cell; width: 35px}
.customer_alt_phone{display: table-cell; width: 35px}
.customer_email{display: table-cell; width: 35px}
.customer_company{display: table-cell; width: 35px}
.customer_note{display: table-cell; width: 35px}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {

}
  
@media screen and (max-width: $tab_sml_menu) {

}

@media screen and (max-width: $mob_menu) {

}