@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table
.personal_due_date    {@include date}
.personal_job         {@include name}
.personal_category    {@include name}
.personal_ref         {@include ref}
.personal_supplier    {display: table-cell;}
.personal_supplier_ref{@include ref}
.personal_issue_date  {@include date}
.personal_distance    {@include distance}
.personal_price        {@include pounds}
.personal_vat_due      {@include pounds}
.personal_total        {@include pounds}
.personal_status      {@include state}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
  .personal_issue_date{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .personal_supplier{display: none}
  .personal_supplier_ref{display: none}
  .personal_distance{display: none}
  .personal_price{display: none}
  .personal_vat_due{display: none}
}

@media screen and (max-width: $mob_menu) {
  .personal_job{display: none}
  .personal_category{display: none}
  .personal_ref{display: none}
}

.vat_note{font-size: 0.8rem; font-weight: normal;}

