@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.business_due_data    {@include date}
.business_job         {@include name}
.business_category    {@include name}
.business_ref         {@include ref}
.business_supplier    {display: table-cell;}
.business_supplier_ref{@include ref}        
.business_issue_date  {@include date}    
.business_price        {@include pounds}
.business_vat_due      {@include pounds}
.business_total        {@include pounds}
.business_status      {@include state}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
  .business_issue_date{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .business_supplier_ref{display: none}
  .business_price{display: none}
  .business_vat_due{display: none}
}

@media screen and (max-width: $mob_menu) {
  .business_job{display: none}
  .business_category{display: none}
  .business_ref{display: none}
}

.vat_note{font-size: 0.8rem; font-weight: normal;}

