@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table
.employee_due_data    {@include date}
.employee_job         {@include name}
.employee_category    {@include name}
.employee_ref         {@include ref}
.employee_supplier    {display: table-cell;}
.employee_supplier_ref{@include ref}        
.employee_issue_date  {@include date}  
.employee_distance    {@include distance}    
.employee_price        {@include pounds}
.employee_vat_due      {@include pounds}
.employee_total        {@include pounds}
.employee_status      {@include state}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
  .employee_issue_date{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .employee_supplier_ref{display: none}
  .employee_distance{display: none} 
  .employee_price{display: none}
  .employee_vat_due{display: none}
}

@media screen and (max-width: $mob_menu) {
  .employee_job{display: none}
  .employee_category{display: none}
  .employee_ref{display: none}
}

.vat_note{font-size: 0.8rem; font-weight: normal;}

