@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.expend_ref     {@include ref}
.expend_exp_type{@include method}
.expend_paid    {@include account}
.expend_method  {@include method}
.expend_account {@include account}
.expend_receipt {@include receipt}    
.expend_date    {@include date}
.expend_price   {@include pounds}
.expend_vat     {@include pounds}
.expend_total   {@include pounds}
.expend_status  {@include state}
.expend_note    {display: table-cell}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
  .expend_issue_date{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .expend_supplier_ref{display: none}
  .expend_price{display: none}
  .expend_vat_due{display: none}
}

@media screen and (max-width: $mob_menu) {
  .expend_job{display: none}
  .expend_category{display: none}
  .expend_ref{display: none}
}

.vat_note{font-size: 0.8rem; font-weight: normal;}
