/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.business_due_data{display: table-cell; width: 60px}
.business_job{display: table-cell; width: 55px}
.business_category{display: table-cell; width: 55px}
.business_ref{display: table-cell; width: 55px}
.business_supplier{display: table-cell; }
.business_supplier_ref{display: table-cell; width: 55px}         
.business_issue_date{display: table-cell; width: 60px}     
.business_price{display: table-cell; width: 70px; text-align: right;}
.business_vat_due{display: table-cell; width: 70px; text-align: right;}
.business_total{display: table-cell; width: 70px; text-align: right;}
.business_status{display: table-cell; width: 60px; text-align: right;}

@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {

}
  
@media screen and (max-width: $tab_sml_menu) {

}

@media screen and (max-width: $mob_menu) {

}

.vat_note{font-size: 0.8rem; font-weight: normal;}

