/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.terms_ref{display: table-cell; width:140px; text-align: left;}
.terms_period_large{display: table-cell; width: 140px; text-align: left;}
.terms_period_small{display: none}
.terms_terms {display: table-cell}


@media screen and (max-width: $mob_menu) {
  .terms_period_large{display: none}
  .terms_period_small{display: table-cell; text-align: left;}
  .terms_terms{display: none}
}