@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.terms_ref          {@include ref}
.terms_period_large {@include name}
.terms_period_small {display: none}
.terms_terms        {display: table-cell}


@media screen and (max-width: $mob_menu) {
  .terms_period_large{display: none}
  .terms_period_small{display: table-cell; text-align: left;}
  .terms_terms{display: none}
}