/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

//index table 
.mileage_date{display: table-cell; width: 160px}
.mileage_job{display: table-cell; width: 160px}
.mileage_mode{display: table-cell; width: 160px}
.mileage_start{display: table-cell; width: 160px}
.mileage_destination{display: table-cell; width: 160px}
.mileage_return{display: table-cell; width: 160px}
.mileage_distance{display: table-cell; width: 160px}