/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.mileage_date{display: table-cell; width: 100px}
.mileage_job{display: table-cell}
.mileage_mode{display: table-cell; width: 100px}
.mileage_start{display: table-cell; width: 200px}
.mileage_destination{display: table-cell; width: 200px}
.mileage_return{display: table-cell; width: 100px}
.mileage_distance{display: table-cell; width: 100px}

@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
  .mileage_return{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .mileage_mode{display: none}
}

@media screen and (max-width: $mob_menu) {
.mileage_start{display: none}
.mileage_destination{display: none}
}
