@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.mileage_date         {@include date}
.mileage_job          {display: table-cell}
.mileage_mode         {@include mode}
.mileage_start        {@include name}
.mileage_destination  {@include name}
.mileage_return       {@include name}
.mileage_distance     {@include distance}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
  .mileage_return{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .mileage_mode{display: none}
}

@media screen and (max-width: $mob_menu) {
.mileage_start{display: none}
.mileage_destination{display: none}
}
