@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table
.payment_ref     {@include ref}
.payment_inc_type{@include method}
.payment_invoice {@include ref}
.payment_method  {@include method}
.payment_account {@include account}
.payment_date    {@include date}
.payment_price   {@include pounds}
.payment_vat_due {@include pounds}
.payment_total   {@include pounds}
.payment_status  {@include state}
.payment_note    {display: table-cell}

@media screen and (max-width: $lrg_menu) {

}

@media screen and  (max-width: $tab_lrg_menu) {
  .payment_note{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {

}

@media screen and (max-width: $mob_menu) {
  .payment_account{display: none} 
  .payment_price{display: none}
  .payment_vat_due{display: none} 
}

.vat_note{font-size: 0.8rem; font-weight: normal;}