/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.payment_ref {display: table-cell; width: 50px; text-align: left;}
.payment_invoice {display: table-cell}
.payment_account{display: table-cell; width: 100px}
.payment_date{display: table-cell; width: 80px}
.payment_price{display: table-cell; width: 80px; text-align: right;}
.payment_vat_due{display: table-cell; width: 80px; text-align: right;}
.payment_total{display: table-cell; width: 80px; text-align: right;}
.payment_note{display: table-cell; width: 300px; text-align: right;}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
  .payment_note{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {

}

@media screen and (max-width: $mob_menu) {
  .payment_account{display: none} 
  .payment_price{display: none}
  .payment_vat_due{display: none}
}

.vat_note{font-size: 0.8rem; font-weight: normal;}
