@import "table_headers";

$lrg_menu: 860px;
$tab_lrg_menu: 720px;
$tab_sml_menu: 540px;
$mob_menu: 430px;

//index table 
.product_catetory_name{@include name}
.product_item         {@include name}
.product_quantity     {@include quantity}
.product_unit         {@include unit}
.product_rate         {@include pounds}
.product_price        {@include pounds}
.product_vat          {@include vat}
.product_vat_due      {@include pounds}
.product_total        {@include pounds}


@media screen and (max-width: $lrg_menu) {
  .product_price{display: none}
  .product_catetory_name{display: none}
  .product_vat_due{display: none}
}

@media screen and (max-width: $tab_lrg_menu) {
  .product_rate{display: none}
  .product_unit{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .product_quantity{display: none}
}

@media screen and (max-width: $mob_menu) {
  .product_vat{display: none}
}

.vat_note{font-size: 0.8rem; font-weight: normal;}
