/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.project_ref{display: table-cell; width: 160px}
.project_title{display: table-cell; width: 160px}
.project_customer{display: table-cell; width: 160px}
.project_customer_ref{display: table-cell; width: 160px}
.project_description{display: table-cell; width: 160px}
.project_invoicemethod{display: table-cell; width: 160px}


@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {

}
  
@media screen and (max-width: $tab_sml_menu) {

}

@media screen and (max-width: $mob_menu) {

}

.vat_note{font-size: 0.8rem; font-weight: normal;}
