@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.quote_ref          {@include ref}
.quote_title        {@include title}
.quote_project_ref  {@include ref}
.quote_customer_ref {@include ref}
.quote_customer     {@include name}
.quote_company_name {display: table-cell; }
.quote_date         {@include date}
.quote_price        {@include pounds}
.quote_vat_due      {@include pounds}
.quote_total        {@include pounds}
.quote_status       {@include state}


@media screen and (max-width: $lrg_menu) {
  .quote_title {display: none}
  .quote_customer{display: none}
}

@media screen and (max-width: $tab_lrg_menu) {
  .quote_price {display: none}
  .quote_customer_ref {display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .quote_project_ref{display: none}
  .quote_date{display: none}
  .quote_vat_due{display: none}
}

@media screen and (max-width: $mob_menu) {
  .quote_status{display: none}
}

.vat_note{font-size: 0.8rem; font-weight: normal;}


//quote content form
.quote_line_prefix{display: table-cell; width: 10px; text-align: right;}
.quote_line_category{display: table-cell; width: 160px}
.quote_line_cat_item{display: none}
.quote_line_item{display: table-cell;}
.quote_line_quantity{display: table-cell; width: 60px; text-align: right;}
.quote_line_unit{display: table-cell; width: 50px; text-align: right;}
.quote_line_rate{display: table-cell; width: 80px; text-align: right;}
.quote_line_price{display: table-cell; width: 80px; text-align: right;}
.quote_line_vat_rate{display: table-cell; width: 50px; text-align: right;}
.quote_line_vat{display: table-cell; width: 80px; text-align: right;}
.quote_line_total{display: table-cell; width: 80px; text-align: right;}
.quote_line_menu_mob{}


@media screen and (max-width: $lrg_menu) {
  .quote_line_price{display: none}
}

@media screen and (max-width: $tab_lrg_menu) {
  .quote_line_category{display: none}
  .quote_line_cat_item{display: table-cell}
  .quote_line_item{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .quote_line_prefix{display: none}
  .quote_line_vat_rate{display: none}
  .quote_line_rate{display: none}
}

@media screen and (max-width: $mob_menu) {
  .quote_line_unit{display: none}
  .quote_line_vat{display: none}
}


//quote subtotal
.quote_sub_text{display: table-cell; text-align: right; padding: 8px 0px 8px 0px;}
.quote_sub_price{display: table-cell; width: 80px; text-align: right; padding: 8px 0px 8px 0px;}
.quote_sub_vat_rate{display: table-cell; width: 50px; text-align: right; padding: 8px 0px 8px 0px;}
.quote_sub_vat{display: table-cell; width: 80px; text-align: right; padding: 8px 0px 8px 0px;}
.quote_sub_total{display: table-cell; width: 80px; text-align: right; padding: 8px 0px 8px 0px;}

@media screen and (max-width: $lrg_menu) {
  .quote_sub_price{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .quote_sub_vat_rate{display: none}
}

@media screen and (max-width: $mob_menu) {
  .quote_sub_vat{display: none}
}


//quote total
.quote_total_text{display: table-cell; text-align: right; font-weight: bold; padding: 8px 0px 8px 0px;}
.quote_total_price{display: table-cell; width: 80px; text-align: right; font-weight: bold; padding: 8px 0px 8px 0px;}
.quote_total_vat_rate{display: table-cell; width: 50px; text-align: right; font-weight: bold; padding: 8px 0px 8px 0px;}
.quote_total_vat{display: table-cell; width: 80px; text-align: right; font-weight: bold; padding: 8px 0px 8px 0px;}
.quote_total_total{display: table-cell; width: 80px; text-align: right; font-weight: bold; padding: 8px 0px 8px 0px;}

@media screen and (max-width: $lrg_menu) {
  .quote_total_price{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
  .quote_total_vat_rate{display: none}
}

@media screen and (max-width: $mob_menu) {
  .quote_sub_vat{display: none}
}
