/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

//index table 
.salary_employee{display: table-cell; width: 35px; text-align: left;}
.salary_paid{display: table-cell; width: 160px}
.salary_date{display: table-cell; width: 160px}