@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;


.transaction_date   {@include date}
.transaction_item   {@include name}
.transaction_account{@include account}
.transaction_type   {@include name}
.transaction_income {@include pounds}
.transaction_expend {@include pounds}
.transaction_balance{@include pounds}
.transaction_status {display: table-cell; vertical-align: left;}

@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
.transaction_type   {display: none;}
}

@media screen and (max-width: $tab_sml_menu) {
.transaction_item   {display: none;}
.transaction_account{display: none;}
}

@media screen and (max-width: $mob_menu) {
  .transaction_balance{display: none;}
  .transaction_status{display: none;}
}


.summary_item   {@include name}
.summary_debit  {@include pounds}
.summary_credit {@include pounds}

.reconciled{color: 000}
.unreconciled{color: red}
