@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;

//index table 
.supplier_company   {@include name}
.supplier_name      {@include name}
.supplier_position  {@include role}
.supplier_address   {@include address}
.supplier_phone     {@include phone}
.supplier_alt_phone {@include phone}
.supplier_email     {@include email}
.supplier_vat       {@include vat}
.supplier_note      {display: table-cell; vertical-align: top;}

@media screen and (max-width: $lrg_menu) {
  .supplier_position{display: none}
  .supplier_note{display: none}
}

@media screen and (max-width: $tab_lrg_menu) {
  .supplier_email{display: none}
  .supplier_name{display: none}
}

@media screen and (max-width: $tab_sml_menu) {
  .supplier_address{display: none}
  .supplier_alt_phone{display: none}
}

@media screen and (max-width: $mob_menu) {
  .supplier_vat{display: none}
}
