@import "table_headers";

$lrg_menu: 1300px;
$tab_lrg_menu: 940px;
$tab_sml_menu: 780px;
$mob_menu: 520px;


.transfer_from  {@include account}
.transfer_to    {@include account}
.transfer_total {@include pounds}
.transfer_date  {display: table-cell; vertical-align: top;}
.transfer_status{@include state}

@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {

}

@media screen and (max-width: $tab_sml_menu) {
.transfer_status{display: none;}
}

@media screen and (max-width: $mob_menu) {
}
