		<tr>
			<td class="summary_item"><%= item %></td> 
			<td class="summary_debit"><%= debit if debit? %></td>
			<td class="summary_credit"><%= credit if credit? %></td> 
			<td class="row_button no_buttons_1">
				<%= row_accept_link(model, 'show') %>
			</td>
		</tr>