<div class="row title_band">
    <div class="page_title">
        <h1>Summary of Company Accounts</h1>
    </div>
    <div class="title_help" id="summaries_index"></div>
</div>

<div class="row">
    <div class="col-1-1 column_1">
        <div class="border">
            <div class="row">

                <table>
                    <thead>
                        <tr>
                            <th class="summary_item">Item</th>
                            <th class="summary_debit"></th>
                            <th class="summary_credit">Balance</th>
                            <th class="row_button no_buttons_1"></th>
                        </tr>
                    </thead>
                </table>

				<table>
					<tbody>
                      <% @company_accounts.each do |account| %>
                          <tr>
                              <td class="summary_item"><%= account.name %></td> 
                              <td class="summary_debit"></td>
                              <%= account_reconciled_check(account, @date_to) %>
                              <td class="row_button no_buttons_1">
                                  <%= link_to '', summary_path(:id => account.id, :companyaccount_id => account.id, :date_from => @date_from, :date_to => @date_to), class: 'line_show_icon_show' , title: "show transactions"  %>
                              </td>
                          </tr>
                       <% end %>
					</tbody>
				</table>

            </div>
        </div>
    </div>

</div>